.game-stats>li>h4 {
  display: inline-block;
}

.game-stats>li {
  display: inline-block;

}

.fields {
  width: 100%;
  border: 1px solid black;
}

.plain {
  border: 1px solid black;
  width: 10%;
}

.plain:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.selected-field{
  border: 1px solid black;
  width: 10%;
  background-color: green;
}
.selected-field:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.possible-field{
  border: 1px solid black;
  width: 10%;
  background-color: rgb(117, 209, 30);
}
.possible-field:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.generated-field{
  border: 1px solid black;
  width: 10%;
  background-color: rgb(9, 0, 94);
}
.generated-field:before {
  content: "";
  display: block;
  padding-top: 75%;
}